
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.m-b-md {
  margin-bottom: 60px;
}

.m-b-xs {
  margin-bottom: 10px;
}

.m-t-md {
  margin-top: 60px;
}

.button-row {
  padding-left: 0px;
}

.profile-header {
  padding-top: 60px;
  background-color: grey;
  color: white;
}
.profile-table .table-info {
  font-weight: bold;
  text-align: left;
  border: none;
}
.profile-table .table-detail {
  text-align: left;
  border: none;
}

.clickable-row td:hover {
  cursor: pointer;
}

.tab-pane {
  padding-top: 20px;
  padding-left: 8px;
}